// до 1200px
@media (max-width:1200px) {
    .header {
        padding: 0px 35px;
    }
    .promo {
        &__wrapper {
    padding-right: 35px;
        }
    }
}
// до 992px
@media (max-width: 991px) {
    .header {
        padding: 0px 15px;
        &__official {
            font-size: 11px;
        }
        &__contacts {
            .button {
                font-size: 11px;
                width: 145px;
                height: 30px;
            }
        }
        &__logo {
            width: 220px;
        }
    }
    .promo {
        &__header {
            font-size: 39px;
        }
        &__subheader {
            font-size: 21px;
        }
        button {
            font-size: 14px;
            width: 245px;
            height: 44px;
        }
        &__link {
            font-size: 14px;
        }
    }
   .header-phone__a {
       font-size: 14px;
   }
}
//  до 720px
@media (max-width: 720px) {
    .promo__wrapper {
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    .header__logo {
        width: 190px;
    }
    .header__official {
        span {
            font-size: 16px;
        }
    }
    .header__contacts {
        .button {
            display: none;
        }
        .header-phone__a {
            font-size: 15px;
        }
    }
}