@import 'base/variables';

* {
    font-family:' Museo Sans Cyrl', sans-serif;
}


// blocks
.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 15px;
        border: none;
        padding: 0px 20px;
        color: #4b4b4b;
        font-size: 14px;
        font-weight: 300;

        &:nth-child(3) {
            margin-bottom: 20px;
        }
    }
}


.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &_left {
        color: #ffffff;
        text-align: left;
        font-size: 36px;
    }
}

.button {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: $main-color;
    &_main {
        margin-top: 67px;
        font-size: 16px;
        width: 300px;
        height: 50px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        border-radius: 5px;
        background-color: #c70101;
        font-size: 16px;    
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-weight: 400;
    }
}


// end block
.container {
    hr {
        margin-top: 50px;
        margin-bottom: 50px;
        border-bottom: none;
        background-color: #f6f6f6;
    }
    max-width: 950px;
    margin: 0 auto;
}
.promo {
    min-height: 650px;
    padding: 21px 0px 93px 0px;
    background: url(../img/main-bg.jpg) center center/cover no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subheader {
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 67px;
        display: flex;
        width: 425px;
        justify-content: space-between;
        
    }
    &__icon {
        color: #ffffff;
        width: 108px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        img {
            
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            text-decoration: underline;
            text-transform: uppercase;
            color: #ffffff;

        }
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: #ffffff;
        font-style: 12px;
        font-weight: 400;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
            
        }
    }
    }

.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .header-phone__a {
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
        
        &:hover {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }  
}
.benefits {
    padding-bottom: 98px;
    padding-top: 70px;
    background-color: rgb(246, 246, 246);
    min-height: 470px;
    &__title {
        
        text-align: center;
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
    }
    &__block {
        margin-top: 65px;
        width: 255px;
        text-align: center;
    }
}
.benefits-wrap {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.benefits-block__title {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    margin-top: 38px;   
}
.benefits-block__descr {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 300;
    margin-top: 26px;
}
.benefits-descr__link {
    color: #ff0000;
    text-decoration: underline;
}
// consultation

.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/bg2.png) center (center/cover) no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-top: 80px;
    }
}
.carousel {
    padding: 81px 0px;
    img {
        max-width:100%;
    }
    &__inner {
        position: relative;
        max-width: 750px;
        margin: 0 auto;

    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-dots {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    #slick-slide-control00,
    #slick-slide-control01,
    #slick-slide-control02 {
        font-size: 0px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid silver;
        background-color: transparent;
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    

    
}

.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-family: "Museo Sans Cyrl -500";
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 2px 3px 20px rgb(83, 81, 81);
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $main-color;
            color: white;
            border: none;
            
        }
    }
    &__content {
        display: none;
        margin-top: 60px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        overflow: hidden;
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        background-color: #ffffff;
        padding: 20px 20px 26px 20px;
        margin-bottom: 20px;
        &__img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 20px;
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        &__descr {
            margin-top: 16px;   
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
        &__link {
        margin-top: 17px;
        color: $main-color;
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        text-transform: uppercase;
        &:hover {
            color: $main-color;
            }
        }
        hr {
            background-color: #e8e8e8;  
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: #555555;
            font-size: 14px;
            font-weight: 300;
            text-decoration: line-through;
        }
        &__price {
            color: #050505;
            font-size: 20px;
            font-weight: 700;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right:   0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            padding-right: 20px;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            transition: 0.5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
                &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }        
            li {
                position: relative;
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 20px;
                &:before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
    }
}

.reviews {
    margin-bottom: 71px;
    &__title {
        color: #0d0d0d;;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 70px;
    }
    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        &__content {
            margin-left: 62px;
        }
    }

    &-content {
        &__name {
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
        }
        &__subtitle {
            margin-top: 10px;
            color: #646464;
            font-size: 14px;
            font-weight: 300;
        }
        &__text {
            color: #0d0d0d;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 300;
        }
    }
  
       
    
}


@import 'base/media';