@import 'base/variables';

* {
    font-family:' Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
.promo {
    min-height: 650px;
    padding: 21px 0px 93px 0px;
    background: url(../img/main-bg.jpg) center center/cover no-repeat;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: #ffffff;
        font-style: 12px;
        font-weight: 400;
        }
    }


.header__phone {
    a {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
    }

}
.header__contacts {
    button {
        width: 150px;
        height: 30px;
        border-radius: 5px;
        background-color: #c70101;
        border: 0px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
}
